@import '../../theme.less';
.MdView {
  display: flex;
  height: 100%;
  &-body {
    flex: 1;
    // max-width: 600px;
    border-right: 2px solid @default-border-color;
  }

  &-md {
    flex: 1;
  }
}
