.Slide {
  position: relative;
  height: 30px;

  &-dragSlice {
    .Slide-sliceTip {
      display: block;
    }
  }

  &-timer {
    position: absolute;
    top: 55px;
    z-index: 100;
    width: 200px;
  }

  &-slice {
    position: absolute;
    height: 100%;
    background-color: green;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    &.is-active {
      border: 1px dashed #ccc;
    }
    &LeftDrag,
    &RightDrag {
      position: absolute;
      display: none;
      width: 2px;
      height: 100%;
      background-color: transparent;
      cursor: w-resize;
      &.is-visible {
        display: block;
      }
    }
    &LeftDrag {
      left: -1px;
    }
    &RightDrag {
      right: -1px;
    }

    &:hover {
      .Slide-sliceTip {
        display: block;
      }
    }
    &Tip {
      position: absolute;
      top: -54px;
      left: 50%;
      display: none;
      padding: 2px 4px;
      box-shadow: 0 0 4px 1px #ccc;
      border-radius: 2px;
      transform: translateX(-50%);
      &.is-visible {
        display: block;
      }
    }
  }
}
